[submodule "tools/stlink"]
	path = tools/stlink
	url = https://github.com/ve3wwg/stlink.git
[submodule "lib/FreeRTOS"]
	path = lib/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS
[submodule "lib/libopencm3"]
	path = lib/libopencm3
	url = https://github.com/libopencm3/libopencm3
